@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-heading text-center my-5">
    <h1 class="cookies-title">COOKIES</h1>
    <h2 class="bakes-subtitle">& Bakes</h2>
</section>

<section class="gallery">
    <img src="~/images/cookieImage1.jpg" alt="Chocolate Chip Cookies" />
    <img src="~/images/cookieImage2.jpg" alt="Gooey Chocolate Cookies" />
    <img src="~/images/cookieImage3.jpg" alt="Assorted Cookies Basket" />
</section>

